@media (max-width:1300px) {
    .intro__navbar {
        a {
            margin: 0px 10px;
            padding: 10px 20px;
        }   
    }
}

@media (max-width:1200px) {
    .main__text-container {
        display: flex;
        flex-direction: column;
    }
    .container__main-text::before {
        top: 165px;
        left: 0%;
    }

    .container__main-text::after {
        top: 167px;
        left: 11%;
    }
    .color__black {
        text-align: center;
    }
}