@media (max-width:1300px) {
    .intro__navbar {
        a {
            margin: 0px 10px;
            padding: 10px 20px;
        }   
    }

    .capabilities__container-item {
        padding: 30px;
        margin: 10px;
        min-height: 400px;
    }
}

@media (min-width:992px) and (max-width:1199px) {

    .container__main-text {
        left: 9%;
    }

    .main__text-container {
        display: flex;
        flex-direction: column;
    }

    .container__main-text::before {
        top: 165px;
        left: 0%;
    }

    .container__main-text::after {
        top: 167px;
        left: 11%;
    }

    .color__black {
        text-align: center;
    }

    .capabilities__container-item {
        padding: 30px;
        margin: 10px;
        min-height: 400px;
    }

    .work__item {
        img {
            width: 310px;
        }
    }
}

@media (min-width:768px) and (max-width:991px) {
    .intro__navbar {
        a {
            margin: 0 10px;
            padding: 10px;
        }
    }

    .container__cascade {
        transform: scale(0.6);
    }

    .container__main-text {
        top: 5%;
        &:before {
            width: 430px;
            top: 34%;
            left: 0px;
        }
        &::after {
            width: 20px;
            top: 34.5%;
            left: 11%;
        }
    }

    .main__text-container   {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .color__black, .color__blue {
        font-size: 80px;
    }

    .call__button {
        img {
            top: 10%;
            right: 5%;
        }
    }
}