/***************************************************************************/
@media (min-width: 1200px) {
  .intro__navbar a {
    margin: 0px 10px;
    padding: 10px 20px;
  }
  .capabilities__container-item {
    padding: 30px;
    margin: 10px;
    min-height: 400px;
  }
}
/************************************************************************/
@media (min-width: 992px) and (max-width: 1199px) {
  .intro__navbar a {
    margin: 0px 10px;
    padding: 10px;
  }
  .container__main-text {
    left: 9%;
  }
  .main__text-container {
    display: flex;
    flex-direction: column;
  }
  .container__main-text::before {
    top: 165px;
    left: 0%;
  }
  .container__main-text::after {
    top: 167px;
    left: 11%;
  }
  .color__black {
    text-align: center;
  }
  .capabilities__container-item {
    padding: 30px;
    margin: 10px;
    min-height: 400px;
  }
  .work__item img {
    width: 310px;
  }
}
/*******************************************************************************/
@media (min-width: 768px) and (max-width: 991px) {
  .intro__navbar a {
    margin: 0 10px;
    padding: 10px;
  }
  .container__cascade {
    transform: scale(0.6);
  }
  .container__main-text {
    top: -10%;
  }
  .container__main-text:before {
    width: 430px;
    top: 131px;
    left: 0px;
  }
  .container__main-text::after {
    width: 40px;
    top: 133px;
    left: 48px;
  }
  .main__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .color__black,
  .color__blue {
    font-size: 80px;
  }
  .button__container {
    display: none;
  }
  .capabilities__container-item {
    padding: 30px;
    margin: 10px;
    min-height: 350px;
  }
  .work__item {
    margin: 5px;
  }
  .capabilities {
    padding: 50px 0px;
  }
  .slider__item {
    height: 430px;
  }
  .container__slider::before,
  .container__slider::after {
    top: 8%;
  }
  .call__button img {
    top: 10%;
    right: 5%;
  }
}
/*****************************************************************************/
@media (min-width: 480px) and (max-width: 767px) {
  .intro__navbar {
    display: none;
  }
  .container__cascade {
    transform: scale(0.4);
    left: 25%;
    top: -25%;
  }
  .container__main-text {
    top: 36%;
    left: 0%;
  }
  .container__main-text::before {
    width: 370px;
    left: 5px;
    top: 94px;
  }
  .container__main-text::after {
    width: 20px;
    top: 96px;
    left: 44px;
  }
  .main__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .color__black,
  .color__blue {
    font-size: 60px;
  }
  .button__container {
    display: none;
  }
  .call__button img {
    right: 3%;
  }
  .capabilities {
    padding: 50px 0px;
  }
  .capabilities__container {
    flex-direction: column;
  }
  .capabilities__container-item {
    padding: 30px 70px;
    margin: 10px;
    min-height: 350px;
    flex-direction: column;
  }
  .capabilities__container-item:hover {
    transition: unset;
    transform: unset;
  }
  .container__title h1 {
    font-size: 25px;
  }
  .container__title h2 {
    font-size: 20px;
  }
  .container__slider::before,
  .container__slider::after {
    top: 10%;
  }
  .slider__item {
    height: 450px;
  }
  .slider__cascade {
    transform: scale(0.7);
  }
  .slider__author-name {
    font-size: 12px;
  }
  .slider__main-text {
    font-size: 10px;
    line-height: 20px;
  }
  .slider__pagination {
    margin: 0px auto 50px auto;
    width: 15%;
  }
  .container__form {
    margin: 20px auto 60px auto;
  }
  .container__form input:first-child {
    width: 250px;
    padding: 10px;
    font-size: 12px;
  }
  .container__form input:last-child {
    padding: 10px 0px;
    width: 130px;
    font-size: 12px;
  }
  .footer__socials {
    display: none;
  }
  .footer__nav a {
    font-size: 10px;
  }
}
/*****************************************************************/
@media (min-width: 320px) and (max-width: 479px) {
  .intro__navbar {
    display: none;
  }
  .container__sidebar {
    width: unset;
  }
  .container__cascade {
    display: none;
  }
  .intro__main_content {
    width: 100%;
  }
  .intro__button {
    display: none;
  }
  .main__text-container {
    margin-bottom: 20px;
  }
  .container__main-text {
    left: 0;
    top: 25%;
  }
  .container__main-text::before {
    display: none;
  }
  .container__main-text::after {
    display: none;
  }
  .container__sub-text {
    font-size: 20px;
  }
  .sidebar__logo {
    writing-mode: vertical-lr;
  }
  .socials {
    height: 255px;
    writing-mode: vertical-lr;
    justify-content: space-between;
  }
  .socials img {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .socials__text {
    margin-right: 0px;
  }
  .color__black, .color__blue {
    font-size: 40px;
  }
  .main__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .call__button img {
    top: 4%;
    right: 70%;
  }
  .capabilities {
    padding: 30px 0px;
  }
  .capabilities__container {
    flex-direction: column;
  }
  .capabilities__container-item {
    min-height: unset;
    padding: 50px;
    margin: 20px;
  }
  .capabilities__container-item:hover {
    transform: unset;
    transition: unset;
  }
  .container__title h1 {
    font-size: 25px;
  }
  .container__title h2 {
    font-size: 20px;
  }
  .work__item {
    margin: 5px;
  }
  .work__item img {
    width: 280px;
  }
  .testimonial {
    display: none;
  }
  .footer {
    padding-top: 30px;
  }
  input:first-child {
    width: 200px;
    padding: 7px 0px;
    font-size: 13px;
    margin-bottom: 10px;
  }
  input:last-child {
    width: 90px;
    padding: 7px 0px;
    font-size: 13px;
  }
  .footer__nav {
    display: none;
  }
  .footer__socials {
    display: none;
  }
}/*# sourceMappingURL=@media.css.map */